* {
    box-sizing: border-box;
}

html {
    height: -webkit-fill-available;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: #495057;
}

#header {
    background-color: #212529;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    color: white;
}


nav {
    float: left;
    color: #f8f9fa;
    width: 10%;
    background: #343a40;
    padding: 20px;
    height: 100%;
}

nav ul {
    list-style-type: none;
    padding:  0;
}


article {
    overflow: auto;
    float: left;
    padding: 20px;
    width: 90%;
    background-color: #495057;
    min-height: 300px;
    height: 100%;
    word-wrap: break-word;
    color: #f8f9fa;
}

article h1 {
    font-size: 40px;
}

#tictactoe {
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/* Tekst */

p {
    font-size: 20px;
}


/* Linki */

a {
    text-decoration: none;
}

nav a {
    color: #ced4da;
}

nav a:hover {
    color: #f8f9fa;
    font-size: larger;
    font-weight: bold;
}

article a {
    color: #eeeff0;
}

article a:hover {
    color: #212529;
}

@media (max-width: 1300px) {
    nav,
    article {
        width: 100%;
        height: auto;
    }
    nav {
        text-align: center;
        padding: 0px;
    }
    #discord {
        float: none;
        width: 100%;
    }
}