* {
    box-sizing: border-box;
}

html {
    height: -webkit-fill-available;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: #495057;
}

canvas{
    text-align: center;
}

p {
    font-size: 20px;
}

a {
    text-decoration: none;
}

.header {
    background-color: #212529;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    color: white;
}


.navigation {
    float: left;
    color: #f8f9fa;
    width: 12%;
    background: #343a40;
    padding: 20px;
    height: 100%;
}

.navigation ul {
    list-style-type: none;
    padding:  0;
}

.navigation a {
    padding-left: 8px;
    color: #ced4da;
}

.navigation a:hover {
    color: #f8f9fa;
    font-weight: bold;
}

.navigation h3{
    margin-bottom: 0px;
}


.article {
    overflow: auto;
    float: left;
    padding: 20px;
    width: 88%;
    background-color: #495057;
    min-height: 300px;
    height: 100%;
    word-wrap: break-word;
    color: #f8f9fa;
}

.article h1 {
    font-size: 40px;
}

.article a {
    color: #eeeff0;
}

.article a:hover {
    color: #212529;
}

@media (max-width: 1300px) {
    .navigation,
    .article {
        width: 100%;
        height: auto;
    }
    .navigation {
        text-align: center;
        padding: 0px;
    }
}