:root {
    /*        */
    /* COLORS */
    /* Body */
    --BodyBackGround: #495057;
    /* Header */
    --HeaderTextColor: white;
    --HeaderBackGround: #212529;
    /* Navigation */
    --NavigationTextColor: #f8f9fa;
    --NavigationBackGround: #343a40;
    /* Navigation Links */
    --NavigationLinkColor: #ced4da;
    --NavigationLinkColorHover: #f8f9fa;
    /* Article */
    --ArticleTextColor: #f8f9fa;
    --ArticleBackGround: #495057;
    /* Article Links */
    --ArticleLinkColor: #eeeff0;
    --ArticleLinkColorHover: #212529;
    /*      */
    /* SIZES */
    /* Body */
    --BodyFontSize: 20px;
    /* Header */
    --HeaderFontSize: 15px;
    --HeaderPadding: 5px;
    /* Discord */
    --DiscordWidth: 350px;
    --DiscordHeight: 500px;
    /* Navigation */
    --NavigationWidth: 10%;
    --NavigationHeight: 100%;
    --NavigationPadding: 20px;
    /* Navigation List */
    --NavigationListPadding: 0;
    /* Article */
    --ArticlePadding: 20px;
    --ArticleWidth: 90%;
    --ArticleMinHeight: 300px;
    --ArticleHeight: 100%;
    /* Article H1 */
    --ArticleH1FontSize: 40px;
    /* MISC */
    --MiscPFontSize: 20px;
}

* {
    box-sizing: border-box;
}

html {
    height: -webkit-fill-available;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--BodyFontSize);
    margin: 0;
    padding: 0;
    background-color: var(--BodyBackGround);
}

#header {
    background-color: var(--HeaderBackGround);
    padding: var(--HeaderPadding);
    text-align: center;
    font-size: var(--HeaderFontSize);
    color: var(--HeaderTextColor);
}

#discord {
    float: right;
    position: sticky;
    width: var(--DiscordWidth);
    height: var(--DiscordHeight);
}

nav {
    float: left;
    color: var(--NavigationTextColor);
    width: var(--NavigationWidth);
    background: var(--NavigationBackGround);
    padding: var(--NavigationPadding);
    height: var(--NavigationHeight);
}

nav ul {
    list-style-type: none;
    padding: var(--NavigationListPadding);
}


/* Ustawienia artykułu */

article {
    overflow: auto;
    float: left;
    padding: var(--ArticlePadding);
    width: var(--ArticleWidth);
    background-color: var(--ArticleBackGround);
    min-height: var(--ArticleMinHeight);
    height: var(--ArticleHeight);
    word-wrap: break-word;
    color: var(--ArticleTextColor);
}

article h1 {
    font-size: var(--ArticleH1FontSize);
}


/* Tekst */

p {
    font-size: var(--MiscPFontSize);
}


/* Linki */

a {
    text-decoration: none;
}

nav a {
    color: var(--NavigationLinkColor);
}

nav a:hover {
    color: var(--NavigationLinkColorHover);
    font-size: larger;
    font-weight: bold;
}

article a {
    color: var(--ArticleLinkColor);
}

article a:hover {
    color: var(--ArticleLinkColorHover);
}

@media (max-width: 1300px) {
    nav,
    article {
        width: 100%;
        height: auto;
    }
    nav {
        text-align: center;
        padding: 0px;
    }
    #discord {
        float: none;
        width: 100%;
    }
}